
@{
    ViewBag.Title = "Danh sách liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Module.BusinessLogic.Helper;

@section scripts {
    <script src="~/Assets/Js/bContactSupport.js"></script>

}

<div class="row" id="forContactSupport" v-cloak>
    <div class="content-header  col-md-12">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-9">
                    <h1 class="m-0 title-head">Danh sách liên hệ</h1>
                </div><!-- /.col -->
                <div class="col-md-3">
                    <button type="button" class="btn btn-block bg-gradient-primary btn-custom btn-filter" v-on:click="showEdit('#modal-lg')">
                        <i class="fas fa-plus"></i>Thêm mới
                    </button>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="col-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="col-md-12 form-head">
                    <div class="col-md-5 form-head_Left">
                        <form onkeydown="return event.key != 'Enter';">
                            <input autocomplete="off" class="form-control" type="text" placeholder="Tìm kiếm tên khách, số điện thoại, người hỗ trợ..." v-model="search" v-on:keyup="keymonitor" />
                        </form>
                    </div>
                    <div class="col-md-3 form-head_right">
                        <select class="selectStatusFilter single-select"
                                data-placeholder="Trạng Thái" data-dropdown-css-class="select2-purple" style="width: 100%;">
                            <option v-for="(item, index) in listStatusFilter" :value="item.Key"> {{item.Value}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover   table-custom">
                    <thead>
                        <tr>
                            <th style="width: 30px" class="text-center">STT</th>
                            <th class="text-left" style="width: 200px">Khách hàng</th>
                            <th class="text-left"  style="width: 220px">Chương trình quan tâm</th>
                            <th class="text-left">Câu hỏi</th>
                            <th class="text-left"  style="width: 180px">Người phụ trách</th>
                            <th class="text-left">Ghi chú</th>
                            <th class="text-center" style="width:120px">Trạng thái</th>
                            <th class="text-center" style="width:100px">Ngày tạo</th>
                            <th class="text-center" style="width: 135px">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in data">
                            <td class="text-center">
                                {{ ((currentPage - 1) *10) +index+1 }}
                            </td>
                            <td>
                                <p class="m-0">   <i class="fas fa-user mr-2"></i>{{ item.CustomerName }}</p>
                                <p class="m-0"> <i class="fas fa-phone-alt mr-2"></i>{{ item.PhoneNumber }}</p>
                                <p class="m-0" v-if="item.EmailAddress"> <i class="fas fa-mail-bulk mr-2"></i>{{ item.EmailAddress }}</p>
                            </td>
                            <td>
                                {{ item.StudyProgramName }}
                            </td>
                            <td>
                                {{ item.Description }}
                            </td>
                            <td>
                                {{ item.SupportEmployeeName }}
                            </td>
                            <td>
                                {{ item.Note }}
                            </td>
                            <td class="text-center">
                                <span class="right badge badge-primary fs-status" v-if="item.Status===1">      {{ item.StatusName }}</span>
                                <span class="right badge badge-warning fs-status" v-if="item.Status===2">      {{ item.StatusName }}</span>
                                <span class="right badge badge-success fs-status" v-if="item.Status===3">      {{ item.StatusName }}</span>
                                <span class="right badge badge-danger fs-status" v-if="item.Status===4">      {{ item.StatusName }}</span>
                            </td>
                            <td class="text-center">
                                {{ item.CreationTimeText }}
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm btn-edit" href="javascript:void(0)" v-on:click="showEdit('#modal-lg',item)">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Sửa
                                </a>
                                <a class="btn btn-danger btn-sm btn-edit" href="javascript:void(0)" v-on:click="deleteContact(item)">
                                    <i class="fas fa-trash">
                                    </i>
                                    Xóa
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <span>
                    Hiển thị {{data.length}} / {{total}} tin
                </span>
                <div class="float-lg-right">
                    <v-pagination v-model="currentPage" :page-count="numberPage"
                                  :classes="bootstrapPaginationClasses"
                                  :labels="paginationAnchorTexts"></v-pagination>
                </div>

            </div>
        </div>


        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ titleModal}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body card-body-modal">
                            <div class="col-md-12">
                                <form onkeydown="return event.key != 'Enter';">
                                    <div class="row">

                                        <div class="col-sm-6 bg-customer">
                                            <h5 class="title-head"> Thông tin khách hàng liên hệ</h5>
                                            <div class="form-group">
                                                <label class="lb-normal">Tên khách hàng<span style="color:red">*</span></label>
                                                <input type="text" class="form-control" name="name-category" placeholder="Tên khách hàng" autocomplete="off"
                                                       v-bind:class="{ 'validate-error': !modelEdit.CustomerName &&  submit }"
                                                       v-model="modelEdit.CustomerName">
                                            </div>
                                            <div class="form-group">
                                                <label class="lb-normal">Số điện thoại<span style="color:red">*</span></label>
                                                <input type="text" class="form-control" name="name-category" placeholder="Số điện thoại" autocomplete="off"
                                                       v-bind:class="{ 'validate-error': !modelEdit.PhoneNumber &&  submit }"
                                                       v-model="modelEdit.PhoneNumber">
                                            </div>
                                            <div class="form-group">
                                                <label class="lb-normal">Chương trình quan tâm</label>
                                                <input type="text" class="form-control" name="name-category" placeholder="Chương trình quan tâm" autocomplete="off"
                                                       v-model="modelEdit.StudyProgramName">
                                            </div>
                                            <div class="form-group">
                                                <label class="lb-normal">Câu hỏi</label>
                                                <textarea rows="3" type="text" class="form-control" name="name-category" placeholder="Câu hỏi" autocomplete="off"
                                                          v-model="modelEdit.Description"></textarea>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <h5 class="title-head"> Thông tin hỗ trợ</h5>
                                            <div class="form-group">
                                                <label class="lb-normal">Người hỗ trợ</label>
                                                <input type="text" class="form-control" name="name-category" placeholder="Người hỗ trợ" autocomplete="off"
                                                       v-model="modelEdit.SupportEmployeeName">
                                            </div>
                                            <div class="form-group">
                                                <label class="lb-normal">Trạng thái xử lý</label>
                                                <select class="selectStatus single-select"
                                                        data-placeholder="Trạng thái xử lý" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    <option v-for="(item, index) in listStatus" :value="item.Key"> {{item.Value}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="lb-normal">Ghi chú</label>
                                                <textarea rows="3" type="text" class="form-control" name="name-category" placeholder="Ghi chú" autocomplete="off"
                                                          v-model="modelEdit.Note"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-custom justify-content-between ">
                        <button type="button" class="btn btn-primary float-right btn-custom" v-on:click="save()"> <i class="far fa-save"></i>Lưu</button>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.card -->
    </div>

</div>