
@{
    ViewBag.Title = "Danh sách nhân sự";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Anh.mvc.crm.Helper;
@using Module.BusinessLogic.Helper;
@using Module.Data.Helper;

@section scripts {
    <script src="~/Assets/Js/bEmployee.js"></script>

}

<div class="row" id="forEmployee" v-cloak>
    <div class="content-header  col-md-12">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-9">
                    <h1 class="m-0 title-head">Danh sách nhân sự</h1>
                </div><!-- /.col -->
                <div class="col-md-3">
                    @if (CurrentUser.CheckRoleUser(Permissions.Admin_Contact_Support_Create))
                    {
                        <button type="button" class="btn btn-block bg-gradient-primary btn-custom btn-filter" v-on:click="showEdit('#modal-lg')">
                            <i class="fas fa-plus"></i>Thêm mới
                        </button>
                    }
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="col-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="col-md-12 form-head">
                    <div class="col-md-5 form-head_Left">
                        <form onkeydown="return event.key != 'Enter';">
                            <input autocomplete="off" class="form-control" type="text" placeholder="Tìm kiếm thông tin nhân sự" v-model="search" v-on:keyup="keymonitor" />
                        </form>
                    </div>
                    <div class="col-md-3 form-head_right">

                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover   table-custom">
                    <thead>
                        <tr>
                            <th style="width: 30px" class="text-center">STT</th>
                            <th class="text-center" style="width:120px">Ảnh</th>
                            <th class="text-left" style="width: 200px">Nhân sự</th>
                            <th class="text-left" style="width: 250px">Liên hệ</th>
                            <th class="text-left" style="width: 220px">Nổi bật</th>
                            <th class="text-left">Mô tả</th>
                            <th class="text-center" style="width:125px">Trạng thái</th>
                            <th class="text-center" style="width: 75px">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in data">
                            <td class="text-center">
                                {{ ((currentPage - 1) *10) +index+1 }}
                            </td>
                            <td>
                                <img v-bind:src="item.Image" class="profile-user-img img-fluid" style="width: 110px; height: 100px; border-radius: 10%;" />
                            </td>
                            <td>
                                <p class="m-0">   <i class="fas fa-user mr-2"></i>{{ item.FullName }}</p>
                                <p class="m-0" v-if="item.DateOfBirthText"> <i class="fas fa-birthday-cake mr-2"></i>{{ item.DateOfBirthText }}</p>
                                <p class="m-0" v-if="item.GenderName"> <i class="fas fa-genderless mr-3"></i>{{ item.GenderName }}</p>
                                <p class="m-0" v-if="item.GenderName"> <i class="fas fa-list-ol mr-3"></i>{{ item.No }}</p>
                            </td>
                            <td>
                                <p class="m-0"> <i class="fas fa-phone-alt mr-2"></i>{{ item.PhoneNumber }}</p>
                                <p class="m-0" v-if="item.EmailAddress"> <i class="fas fa-mail-bulk mr-2"></i>{{ item.EmailAddress }}</p>
                                <p class="m-0" v-if="item.PlaceOfOrigin"> <i class="fas fa-location-arrow mr-2"></i>{{ item.PlaceOfOrigin }}</p>
                            </td>
                            <td>
                                <div  v-html="item.DescriptionHtml"></div>
                            </td>
                            <td>
                                <div class="ul-li-style" v-html="item.Note"></div>
                            </td>
                            <td>
                                <span class="right badge badge-success fs-status" v-if="item.IsActive"> Đang hoạt động</span>
                                <span class="right badge badge-danger fs-status" v-if="!item.IsActive"> Ngừng hoạt động</span>
                            </td>
                            <td>
                                @if (CurrentUser.CheckRoleUser(Permissions.Admin_Contact_Support_Edit))
                                {
                                    <a class="btn btn-info btn-sm btn-edit mb-2" href="javascript:void(0)" v-on:click="showEdit('#modal-lg',item)">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Sửa
                                    </a>
                                }
                                @if (CurrentUser.CheckRoleUser(Permissions.Admin_Contact_Support_DeLete))
                                {
                                    <a class="btn btn-danger btn-sm btn-edit" href="javascript:void(0)" v-on:click="deleteEmployee(item)">
                                        <i class="fas fa-trash">
                                        </i>
                                        Xóa
                                    </a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <span>
                    Hiển thị {{data.length}} / {{total}} tin
                </span>
                <div class="float-lg-right">
                    <v-pagination v-model="currentPage" :page-count="numberPage"
                                  :classes="bootstrapPaginationClasses"
                                  :labels="paginationAnchorTexts"></v-pagination>
                </div>

            </div>
        </div>


        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-xl modal-dialog-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ titleModal}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body card-body-modal">
                            <div class="col-md-12">
                                <form >
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="my-custom-file">
                                                    <input type="file" class="custom-file-input d-none" id="exampleInputFile">
                                                    <label class="label-file-form" for="exampleInputFile" style="width: 100%; cursor: pointer; height:245px">
                                                        <i class="fas fa-image" style="font-size: 50px" v-if="!isShowImage"></i>
                                                        <img v-if="isShowImage" v-bind:src="modelEdit.Image" class="img-thumbnail">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-9">
                                            <div class="row">

                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="lb-full-name">Họ và tên<span style="color:red">*</span></label>
                                                                <input type="text" class="form-control" name="full-name" placeholder="Họ và tên" autocomplete="off"
                                                                       v-bind:class="{ 'validate-error': !modelEdit.FullName &&  submit }"
                                                                       v-model="modelEdit.FullName">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <label class="lb-phone">Số điện thoại</label>
                                                                <input type="text" class="form-control" name="phone" placeholder="Số điện thoại" autocomplete="off"
                                                                       v-model="modelEdit.PhoneNumber">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <div class="form-group">
                                                                <label class="lb-email">Email</label>
                                                                <input type="text" class="form-control" name="email" placeholder="Email" autocomplete="off"
                                                                       v-model="modelEdit.EmailAddress">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="lb-place">Quê quán</label>
                                                                <textarea rows="1" type="text" class="form-control" name="place-of-origin" placeholder="Quê quán" autocomplete="off"
                                                                          v-model="modelEdit.PlaceOfOrigin"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="lb-date">Ngày sinh</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control float-right" id="dateOfBirth">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="lb-gender">Giới tính</label>
                                                                <select class="selectGender single-select"
                                                                        data-placeholder="Giới tính" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                                    <option v-for="(item, index) in listGenders" :value="item.Key"> {{item.Value}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label class="lb-no">Vị trí hiển thị</label>
                                                                <input type="number" class="form-control" name="no" placeholder="Vị trí" autocomplete="off"
                                                                       v-model="modelEdit.No">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label class="lb-languge">Ngôn ngữ</label>
                                                                <select class="selectlanguage single-select"
                                                                        data-placeholder="Ngôn ngữ" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                                    <option v-for="(item, index) in listlanguages" :value="item.Key"> {{item.Value}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="lb-active">Trạng thái</label>
                                                                <select class="selectActive single-select"
                                                                        data-placeholder="Trạng thái" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                                    <option v-for="(item, index) in listActives" :value="item.Key"> {{item.Value}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="lb-description"> Thông tin nổi bật</label>
                                                <textarea rows="2" type="text" class="form-control" v-model="modelEdit.Description" name="description"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="lb-note"> Mô tả</label>
                                                <textarea id="description" v-model="modelEdit.Note" name="note"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-custom justify-content-between ">
                        <button type="button" class="btn btn-primary float-right btn-custom" v-on:click="save()"> <i class="far fa-save"></i>Lưu</button>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.card -->
    </div>

</div>

