
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
 
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">

        <div class="">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Bạn không có quyền truy cập trang</h3>

            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" name="submit" class="btn btn-danger">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
    </div>
    <!-- /.error-page -->

</section>
<!-- /.content -->